<!DOCTYPE html>
{% load static %}
<html> <!--<![endif]-->
<head>
<title>::~growcleaners~::</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}" />
<link href="{% static 'css/animations.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<header>
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="row">
            <div class="phone"><i class="fa fa-phone" aria-hidden="true"></i><a href="#">02 8006 9892</a> </div>
            <div class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">jayclean.wa@gmail.com</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="row">
            <div class="social-media">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header_button" id="myHeader">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"> <a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a> </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="menu">
            <nav>
              <ul>
                <li><a href="index.html">Home </a></li>
                <li><a href="about.html">ABOUT US</a></li>
                <li><a href="prices.html">Prices</a></li>
                <li><a href="services.html"> Services</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="login">
            <ul>
              <li><a href="login.html">Login </a></li>
              <li><a href="book.html">Book a services</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="slider-inner">
  <ul class="rslides">
    <li><img src="{% static 'images/login_silder.jpg' %}" alt="">
      <div class="text_w">
        <div class="container">
          <div class="text_bg">
            <h1>Book a services </h1>
           
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="container_section">
  <section class="book_page">
   <div class="container"> 
    <div class="row">
       
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">	
				 <div class="row">
        
                   <div class="progress">
                   
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="alert alert-success hide"></div>
  <form>
    <div id="regiration_form">

  

    <fieldset id="con_field">
 
      <div class="form-group">
      <h2>Where should we serve you?</h2>
  
    <div class="map">
      <p id="error" style="color:red;"></p>
    <input type="text" id="zipc"  name="q" required inputmode="numeric" oninput="zipCode()" placeholder="Enter your postcode..." autocomplete="off">
     
  
  
  
            <!-- <button id="con" >continue</button> -->
           <a id="con" onclick="clicknext()"  >Continue</a>
           <!-- <input type="button" name="next" id="Button" disabled class="next btn btn-info" value="Next" /> -->
           <!-- <a  class="next" >Continue</a> -->
           <!-- <input type="button" name="next" id="Button"  class="next btn btn-info" value="Next" /> -->
  
    </div>
      <div class="search_b">
        
   <p> Find out if our service is available in your area.</p>
  
    </div>
      
      </div>
     
      <!-- <input type="button" name="previous" class="previous btn btn-default" value="Previous" /> -->
      <input type="button" name="next" id="Button" style="visibility:hidden;" class="next btn btn-info" value="Next" />
    </fieldset>
    <fieldset id="enqury">
      <div class="row">
   
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="form-group">
     
      <h2>What is the type of your enquiry?	</h2>
      
     <div class="radio" id="demo" onchange="demo();">
   
        <div class="flex">
       <input type="radio" name="radio" onclick="dis();" id="radio1" value="Commercial Cleaning"/>
       <label for="radio1">Commercial Cleaning</label>
       </div>
       <div class="flex">
       <input type="radio" name="radio" id="radio2" onclick="dis();" value="Domestic Cleaning" />
       <label for="radio2">Domestic Cleaning</label>
       </div>
       <div class="flex">
       <input type="radio" name="radio" id="radio3" onclick="dis();" value="Residential Cleaning" />
       <label for="radio3">Residential Cleaning</label>
       </div> 
           
     </div>
   
   
      
     </div>
     
     </div>
     
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
    <div  class="book-right-top">
     <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
      <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i><span  id="postcode"></span></div>
      <div class="services">
      <span><i class="fa fa-book" aria-hidden="true"></i> </span>
      <h4>The service includes:</h4>
      <p id="hello"></p>
      
      </div>
      
      </div>
      
      <div class="expandables">
     
       <h4>The service includes:</h4>
     <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
   </blockquote>     
      
       <h4>NOTE:</h4>
     <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
   </blockquote>     
       
      
   </div>
      </div>
      </div>
   
      <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
      <input type="button" id="button2"  name="next"  disabled class="next btn btn-info" value="Next" onclick="democall();">
     
     </fieldset>
  
  <fieldset>
   <div class="row">

         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
     <div class="form-group">
  
   <h2>DO YOU WANT CARPET CLEANING SERVICES ?</h2>
 
  <div class="room-w">
<h5> Carpet pieces </h5>
    <div class="number">
	<span class="minus">-</span>
	<input type="text" id="car" onchange="carpetno()" disabled value="1"/>
	<span class="plus">+</span>
</div> 
</div>
   
  </div>
  <script>
    function carpetno(){
      n=document.getElementById("car").value;
    // console.log(n)
    document.getElementById("carnum").innerHTML="Carpet(s): "+n;
    }
  </script>
  
  </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
   <div class="book-right-top">
  <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
   <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i><span id="postcode1"></span></div>
   
   <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>The service includes:</h4>
   <p id="hello1"></p>

   <p id="carnum"></p>
   </div>
   </div>
   
   <div class="expandables">
	
    <h4>The service includes:</h4>
  <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
</blockquote>     
   
    <h4>NOTE:</h4>
  <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
</blockquote>     
    
   
</div>
   
   </div>
   </div>

   <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
   <input type="button" name="next" class="next btn btn-info" onclick="demo3call()" value="Next" />

  </fieldset>
  <fieldset>

    <script>
      function demo3call(){
   
        document.getElementById("postcode2").innerHTML=document.getElementById("postcode1").innerHTML;
        document.getElementById("hello2").innerHTML=document.getElementById("hello1").textContent;
        document.getElementById("carnum2").innerHTML=document.getElementById("carnum").innerHTML;

      }
    </script>

    <div class="row">
 
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
      <div class="form-group">
   
    <h2>Is there anything else you'd like us to know?</h2>
 
    <!-- <script>
      function msg(){
        var d=document.getElementById("msg");
        console.log(d)
 
      }
    </script> -->
  
   <div class="radio">
 
  <textarea id="msg" name="" oninput="notecall();" cols="" rows=""></textarea>
   </div>
    
   </div>
   
   </div>
   
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
    <div class="book-right-top">
   <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
    <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i><span id="postcode2"></span></div>
    <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
 
     <!-- <input type="text" id="textvalue"/> -->
     
    <h4>The service includes:</h4>
    <p id="hello2"></p>
    <p id="carnum2"></p>
   </div>
 
    </div>
    
    <div class="expandables">
   
     <h4>The service includes:</h4>
   <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
 </blockquote>     
    
     <h4>NOTE:</h4>
   <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
 </blockquote>     
     
    
 </div>
    </div>
    
    
    </div>
 
    <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
    {% if user.id is None %}
 
   <input type="button" onClick="window.location.href='{% url 'login' %}';" name="next" class="next btn btn-info" value="Next"/>
 
    {%else %}
    <input type="button" name="next" class="next btn btn-info" onclick="demo4call()" value="Next" />
    {% endif %}
   
   </fieldset>
  
  <fieldset>
    <script>
      function demo3call(){
   
        document.getElementById("postcode3").innerHTML=document.getElementById("postcode2").innerHTML;
        document.getElementById("hello2").innerHTML=document.getElementById("hello1").textContent;
        document.getElementById("carnum2").innerHTML=document.getElementById("carnum").innerHTML;

      }
    </script>
   <div class="row">

         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
     <div class="form-group">
 
  <div class="calendar_w">
    <input type="date" onclick="showdate();" id="rangeNoWeekendPicker">
  <div class="form-heading">
  <span> Saturday, jul 10 </span><span>Standard price</span><span></span>
  </div>
  </div>
  <script>
    document.getElementById("rangeNoWeekendPicker").addEventListener("change", function() {
     var input = this.value;
     var dateEntered = new Date(input);
     // console.log(input); //e.g. 2015-11-13
 
     // console.log(dateEntered.getDate()+"/"+(dateEntered.getMonth()+1)+"/"+dateEntered.getFullYear()); 
     const days = [ "Sun","Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
     const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
     document.getElementById("date").innerHTML=dateEntered.getDate()+"-"+days[dateEntered.getDay()]+"-"+months[dateEntered.getMonth()];
     // document.getElementById("date").innerHTML=dateEntered.getDate()+"/"+(dateEntered.getMonth()+1)+"/"+dateEntered.getFullYear();
     //e.g. Fri Nov 13 2015 00:00:00 GMT+0000 (GMT Standard Time)
 });
   </script>
  
  
  <div class="form-headingsub">
    <ul>
    <li  onclick="booktime(this)" > <span id="time">  07:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <li  onclick="booktime(this)" > <span id="time">  08:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <!-- <li ></li> <span id="time">  09:00  </span><span><a onclick="booktime()"class="un_act" id="slot">Fully booked</a></span><span></span></li> -->
    <li  onclick="booktime(this)"> <span id="time">  09:00  </span><span><a class="act" id="slot">$255 </a> </span><span></span></li>
    <li onclick="booktime(this)"> <span  id="time">  10:00  </span><span><a class="act" id="slot"> $255</a> </span><span></span></li>
    <li onclick="booktime(this)"> <span id="time">  11:00  </span><span><a class="act" id="slot"> n/a </a></span><span></span></li>
    <li onclick="booktime(this)"> <span id="time" >  13:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <li onclick="booktime(this)"> <span id="time" >  14:00  </span><span><a class="act" id="slot"> n/a </a></span><span></span></li>
    <li onclick="booktime(this)"> <span  id="time">  15:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <li onclick="booktime(this)"> <span id="time">  16:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <li onclick="booktime(this)"> <span id="time">  17:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <li onclick="booktime(this)" > <span id="time" >  18:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    </ul>
 
  </div>
   
  </div>
  
  </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <div class="book-right-top">
  <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
   <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Postcode: 3000</span></div>
   <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>The service includes:</h4>
   <p>Commercial Cleaning</p>
   <p> Yes </p>
   </div>
    <div class="services"><span><i class="fa fa-calendar" aria-hidden="true"></i> </span>
   <h4> Appointment time :</h4>
   <p>13:00, Tuesday, Aug 03</p>
   
   </div>
    <div class="services-price">Service price <span>$255</span></div>
     <div class="total-price">Total <span>$255</span></div>
   
  
   
   
   </div>
   
   <div class="expandables">
	
    <h4>The service includes:</h4>
  <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
</blockquote>     
   
    <h4>NOTE:</h4>
  <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
</blockquote>     
    
   
</div>
   </div>
   </div>
 
   <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
   <input type="button" name="next" class="next btn btn-info" value="Next" />
  
  </fieldset>

    <fieldset id="enqury">

    <div class="row">
   
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
  <div class="form-group">
<div class="st-1">
<h2 style="text-align:left;"><i class="fa fa-user" aria-hidden="true"></i> Contact details</h2>

<div class="contact_de">
<input type="text" name="Name" placeholder="Name" value="" size="40">
</div>
<div class="contact_de">
<input type="text" name="Email" placeholder="Email"  value="" size="40">
</div>
<div class="contact_de">
<input type="text" name="Phone" placeholder="Phone"  value="" size="40">
</div>
 <div class="contact_de">
<!-- <input type="submit" value="Save" class="wpcf7-form-control wpcf7-submit"> -->
</div>  
</div>
<div class="st-1">
<h2 style="text-align:left;"><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h2>
<div class="create-address-holder"><a class="btn2">+ Add your address</a></div>
 <div class="edit">
  <div class="contact_de">
 <input type="text" name="flat" placeholder="Flat / Unit / Building number"  value="" size="40">
 </div>
  <div class="contact_de">
 <input type="text" name="street" placeholder="Street name"  value="" size="40">
 </div>
  <!-- <div class="contact_de">
 <input type="text" name="postcode" placeholder="Postcode"  value="" size="40">
 </div> -->

 
  <!-- <div class="contact_de">
 <input type="submit" value="Confirm address" class="wpcf7-form-control wpcf7-submit">
 <button class="btn1">Cancel</button>
 </div> -->
 
 </div>


<h5>Is there anything else you'd like us to know?</h5>
    <div class="contact_de"><textarea name="note_final" cols="" rows=""></textarea></div>
</div>


</div>

</div>

      
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
    <div  class="book-right-top">
      <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
      <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
      <input  type="text" id="postcode_last" name="post_code" style="border: 0px; background: unset;" value="" size="20" disabled class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
        
      </span></div>
      <div class="services">
      <span><i class="fa fa-book" aria-hidden="true"></i> </span>

      <h4>The service includes:</h4>
      <!-- <p id="hel3"> -->
      <input  type="text" id="hel3" readonly name="service_details" style="border: 0px; background: unset;" value="" size="20"  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
      <!-- </p> -->
      </div>
      <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
      <h4>Infection Control Cleaning Service:</h4>
      <!-- <p id ="hel4"></p> -->
      <input  type="text" id="hel4" readonly name="cleaning" style="border: 0px; background: unset;" value="" size="20"  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
      </div>
      <div class="servics"><span><i class="fa fa-calendar" aria-hidden="true"></i></span>
      <h4> Appointment time :</h4><br>
      <!-- <p id="time_show1"></p> -->
      <input  type="text" id="time_show1" readonly name="appointment" style="border: 0px; background: unset;" value="" size="20"  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
      
      </div>
        <div class="services-price"> Service price <span>
      <input  type="text" id="price_last" readonly name="prices1" style="border: 0px; background: unset;" value="" size="20" disabled class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
          
        </span>
        </div>

        <div class="total-price"> Total price <span>
      <input  type="text" id="price_last2" readonly name="totalpricesssss" style="border: 0px; background: unset;" value="" size="20"  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
          
        </span></div>

        <div class="note_services"> Note: <span>
      <input  type="text" id="note" name="note_first" style="border: 0px; background: unset;" value="" size="20"  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">

         </span></div>
  
      
      
      
      
      </div>
      
      <div class="expandables">
      
        <h4>The service includes:</h4>
      <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
    </blockquote>     
      
        <h4>NOTE:</h4>
      <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
    </blockquote>     
        
      
    </div>
      </div>
      </div>

      <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
      <!-- <input type="button" name="next" class="next btn btn-info" onClick="lastcall2()" value="Next" /> -->
      <button type="submit" value="Submit" class="from_submit">Submit</button>

    </fieldset>
  </div>
  </form>     
                       
                       
				</div>
                
</div>
      
        </div>
        </div>
  </section>
  
  <section class="book-section"> 
  <div class="container"> 
  <div class="row"> 
  <div class="col-sm-12 col-xs-12"> 
  <h2>Ready to book with us?</h2> 
  <div class="section-cta-parent"> 
  <a href="#" rel="nofollow" class="btn filled book-btn" data-book-btn="true" title="Book now"> Book a services </a> 
  <a href="#" rel="nofollow" class="btn btn-white" title="Contact us"> Request a Quote </a> 
  </div> </div> </div> </div> </section>
  
  
  <section class="testimonial_section">
    <div class="testimonial_box">
      <div id="owl-demo" class="owl-carousel">
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt  Lorem ipsum dolor sit amet,  
            nonummy nibh euismod tincidunt </p>
          <div class="testimonial-author">DATA AGENT</div>
        </div>
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt  Lorem ipsum dolor sit amet,  
            nonummy nibh euismod tincidunt </p>
          <div class="testimonial-author">DATA AGENT</div>
        </div>
      </div>
    </div>
  </section>
  </div>
  </div>
</section>
<footer>
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="email"> <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span><a href="mailto:info@opinionuksurvey.co.uk"> info@opinionuksurvey.co.uk</a> </div>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Prices</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Domestic & Residential</a></li>
          <li><a href="#">Maintenance services</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer_botton">
    <div class="container">
      <div class="row">
        <div class="copyright">
          <p>&copy;2021 All Rights Reserved. Designed By : <a
                    href="https://www.businessdesignz.com">businessdesignz.com</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
  <style type="text/css">
  #regiration_form fieldset:not(:first-of-type) {
    display: none;
  }
  </style>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
<script>
  $(document).keypress(
    function(event){
      if (event.which == '13') {
        event.preventDefault();
      }
  });
  </script>

<script>
  var con_field=document.getElementById("con_field")
  
 con_field.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      clicknext();
        // alert('Enter is pressed!');
    };
});
function clicknext() {

  var finalzip = document.getElementById("zipc").value;
  

  // document.getElementById("Button").click();
  // console.log(finalzip)
  // document.getElementById("postcode").innerHTML="POSTCODE:" +" "+finalzip;
  var zip = document.getElementById("zipc").value;
  var button = document.getElementById("Button");
  var con=document.getElementById("con");
  button.disabled = true;
  con.disabled=true;
    //  console.log(zip)

     
  if (5999< zip && zip < 6998) {
      //  console.log("inside if")
      //  <input type="button" name="next" class="next btn btn-info" value="Next" />
    button.disabled = false;
    con.disabled=false;
    document.getElementById("Button").click();
    document.getElementById("postcode").innerHTML="POSTCODE:" +" "+finalzip;
      
      // console.log(zip)
      // document.getElementById("Button").click();

     }
     else{
      document.getElementById("error").innerHTML="Please input a valid zipcode";
       
      //  console.log("worng")
     }

   }

</script>


<script>
  function demo()
  {
   
   
   var d=document.getElementById("demo");
   // var c = document.getElementById('button2');
   // console.log(c)
   // button.disabled = true;
   if (document.getElementById('radio1').checked) {
     rate_value = document.getElementById('radio1').value;
     // console.log(rate_value)
    //  document.getElementById('button2').disabled = true;
     document.getElementById("hello").innerHTML=rate_value;
     

   }
   if (document.getElementById('radio2').checked) {
     rate_value = document.getElementById('radio2').value;
     // console.log(rate_value)
     document.getElementById("hello").innerHTML=rate_value;
     
   }
   if (document.getElementById('radio3').checked) {
     rate_value = document.getElementById('radio3').value;
     // console.log(rate_value)
     document.getElementById("hello").innerHTML=rate_value;
     
   }
   }


   function dis(){
     var c = document.getElementById('button2');
     c.disabled=false;
     

   }
</script>
<script>
  function democall()
  {
   var d=document.getElementById("hello");
   console.log(d)
   document.getElementById("hello1").innerHTML=d.textContent;
   var finalzip = document.getElementById("zipc").value;
   console.log(finalzip)

   document.getElementById("postcode1").innerHTML="POSTCODE:" +" "+finalzip;

   }
</script>


<script>
  function notecall(){
    var note=document.getElementById("msg").value;
    // console.log(note)
    if (note.length > 1){
      var note_msg=note;
      console.log(note_msg)
  }

  }
  
</script>
<script type="text/javascript">
  $(document).ready(function() {
		 $('nav').meanmenu();
		  $("#slider1").responsiveSlides({
      
        speed: 800
      });
	   var owl = $("#owl-demo");

      owl.owlCarousel();

      // Custom Navigation Events
      $(".next").click(function(){
        owl.trigger('owl.next');
      })
      $(".prev").click(function(){
        owl.trigger('owl.prev');
      })
      $(".play").click(function(){
        owl.trigger('owl.play',1000);
      })
      $(".stop").click(function(){
        owl.trigger('owl.stop');
      })

window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}

    $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });

        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
 


  </script>
<script>
    var a = 0;
    $(window).scroll(function () {

        var oTop = $('#counter').offset().top - window.innerHeight;
        if (a == 0 && $(window).scrollTop() > oTop) {
            $('.counter-value').each(function () {
                var $this = $(this),
                    countTo = $this.attr('data-count');
                $({
                    countNum: $this.text()
                }).animate({
                    countNum: countTo
                },

                    {

                        duration: 3000,
                        easing: 'swing',
                        step: function () {
                            $this.text(Math.floor(this.countNum));
                        },
                        complete: function () {
                            $this.text(this.countNum);
                            //alert('finished');
                        }

                    });
            });
            a = 1;
        }

    });
</script>
 <script>
  $(document).ready(function(){
  var current = 1,current_step,next_step,steps;
  steps = $("fieldset").length;
  $(".next").click(function(){
    current_step = $(this).parent();
    next_step = $(this).parent().next();
    next_step.show();
    current_step.hide();
    setProgressBar(++current);
  });
  $(".previous").click(function(){
    current_step = $(this).parent();
    next_step = $(this).parent().prev();
    next_step.show();
    current_step.hide();
    setProgressBar(--current);
  });
  setProgressBar(current);
  // Change progress bar action
  function setProgressBar(curStep){
    var percent = parseFloat(100 / steps) * curStep;
    percent = percent.toFixed();
    $(".progress-bar")
      .css("width",percent+"%")
      .html(percent+"%");   
  }

  
});

$( "#regiration_form" ).submit(function(event) {
    jQuery('.alert-success').removeClass('hide').html( "Handler for .submit() called and see console logs for your posted variable" );
    console.log($(this).serialize());
    event.preventDefault();
  });
  $(".expandables h4").click(function() {
 if ($(this).hasClass("expanded")) {
      $(this).removeClass("expanded");
      $(this).next().removeClass("expanded");
    } else {
      $(this).addClass("expanded");
      $(this).next().addClass("expanded");
    }
});
  $(".housediv .house-w").click(function() {
 if ($(this).hasClass("expanded")) {
      $(this).removeClass("expanded");
      $(this).next().removeClass("expanded");
    } else {
      $(this).addClass("expanded");
      $(this).next().addClass("expanded");
    }
	
});

  </script>
   
<script>
	$(document).ready(function() {
			$('.minus').click(function () {
				var $input = $(this).parent().find('input');
				var count = parseInt($input.val()) - 1;
				count = count < 1 ? 1 : count;
				$input.val(count);
				$input.change();
				return false;
			});
			$('.plus').click(function () {
				var $input = $(this).parent().find('input');
				$input.val(parseInt($input.val()) + 1);
				$input.change();
				return false;
			});
		});
	</script>
<script>
  $(function(){
  var dtToday = new Date();
  
  var month = dtToday.getMonth() + 1;
  var day = dtToday.getDate();
  var year = dtToday.getFullYear();
  if(month < 10)
      month = '0' + month.toString();
  if(day < 10)
      day = '0' + day.toString();
  
  var maxDate = year + '-' + month + '-' + day;

  // or instead:
  // var maxDate = dtToday.toISOString().substr(0, 10);

  // alert(maxDate);
  $('#rangeNoWeekendPicker').attr('min', maxDate);
});
</script>
  <script>
  $(document).ready(function() {
      $('.minus').click(function () {
        var $input = $(this).parent().find('input');
        var count = parseInt($input.val()) - 1;
        count = count < 1 ? 1 : count;
        $input.val(count);
        $input.change();
        return false;
      });
      $('.plus').click(function () {
        var $input = $(this).parent().find('input');
        $input.val(parseInt($input.val()) + 1);
        $input.change();
        return false;
      });
      
       $(".btn1").click(function(){
    $(".edit").hide();
  });
  $(".btn2").click(function(){
    $(".edit").show();
  });
    });
  </script>
</body>
</html>