<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="slider-inner">

    <ul class="rslides">
   
     <li><img src="{% static 'images/slider_inner6.jpg' %}" alt="">
         
         <div class="text_w">
          <div class="container">
            <div class="text_bg">
              <h1>Services</h1>
              <a href="{% url 'zipcode' %}">Book  a services </a> </div>
          </div>
        </div>
      </li>
    
       
      
  </ul>
</section>

<section class="inner_section">

    <section class="service_section">
     <div class="container">
     
     
     <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<h2>No matter how messy it is, we do the best.</h2>
    <p>Second isn't from multiply gathered he female made waters bring divided give days their to the fly let greater after seas is is hath had fill upon form. Without light after fruit yielding fruitful to male have. Make shall stars, god light. Fly fruitful. Them to they're fill. Light meat beast waters. Called multiply rule. Behold own moved whose them she'd lights a male male their without made lights tree every darkness together said firmament dry after.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <img src="{% static 'images/service-3.jpg' %}" alt="">
    </div>
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <ul>
        <li>Recurring Cleaning</li>
    
    <li>Occasional Cleaning</li>
    
    <li>Apartment Cleaning</li>
    
    <li>Special Event Cleaning</li>
    
    <li>Housekeeping Services</li>
    
    <li>Move Out & Move in Cleaning</li>
    
    <li>Refrigerator Cleaning</li>
    
    <li>Oven Cleaning.</li>
    
    </ul>
    </div>
      
     </div>
      <div class="row service_icon">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>Itself void place of beast winged and fill fruitful may blessed every fish. She'd years every creepeth they're over for dominion fowl him all fish there a him fish. Make make he morning image fowl the meat their. Over saw spirit saying made seed good upon. You spirit is every air great Deep abunde dantly waters whose may moved cattle said void air so fourth them the brought without fish into the days given.</p>
      </div>
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
     <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
       <img src="{% static 'images/icon1.png' %}" alt="">
     </div>
     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
     <h4>Experienced Staff</h4>
<p>Professional and Experienced staff ready to help you anytime.</p>
     </div>
     </div>
         
    
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
     <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
       <img src="{% static 'images/icon2.png' %}" alt="">
     </div>
     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
     <h4>Experienced Staff</h4>
<p>Professional and Experienced staff ready to help you anytime.</p>
     </div>
     </div>
         
    
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
     <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
       <img src="{% static 'images/icon3.png' %}" alt="">
     </div>
     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
     <h4>Experienced Staff</h4>
<p>Professional and Experienced staff ready to help you anytime.</p>
     </div>
     </div>
         
    
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
     <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
       <img src="{% static 'images/icon4.png' %}" alt="">
     </div>
     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
     <h4>Experienced Staff</h4>
<p>Professional and Experienced staff ready to help you anytime.</p>
     </div>
     </div>
         
    
    </div>
    
    
    
    
    
    
    
      </div>
     </div>
    </section>
  
  <section class="book-section"> 
  <div class="container"> 
  <div class="row"> 
  <div class="col-sm-12 col-xs-12"> 
  <h2>Ready to book with us?</h2> 
  <div class="section-cta-parent"> 
  <a href="#" rel="nofollow" class="btn filled book-btn" data-book-btn="true" title="Book now"> Book a services </a> 
  <a href="#" rel="nofollow" class="btn btn-white" title="Contact us"> Request a Quote </a> 
  </div> </div> </div> </div> </section>
  
  
  
  <section class="testimonial_section">
  <div class="testimonial_box">
      <div id="owl-demo" class="owl-carousel">
        <div class="item">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt  Lorem ipsum dolor sit amet,  
nonummy nibh euismod tincidunt </p>
          
          <div class="testimonial-author">DATA AGENT</div>
        </div>
        <div class="item">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt  Lorem ipsum dolor sit amet,  
nonummy nibh euismod tincidunt </p>
          
          <div class="testimonial-author">DATA AGENT</div>
        </div>
        
        
        
        
       </div>  
      </div>
      

  </section>
  </div>
  </div>
</section>
{% endblock %}