<!DOCTYPE html>
{% load static %}
<html> <!--<![endif]-->
<head>
<title>::~growcleaners~::</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}" />
<link href="{% static 'css/animations.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap" rel="stylesheet">

</head>
<body>
<header>
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="row">
            <div class="phone"><i class="fa fa-phone" aria-hidden="true"></i><a href="#">02 8006 9892</a> </div>
            <div class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">jayclean.wa@gmail.com</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="row">
            <div class="social-media">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header_button" id="myHeader">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"> <a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a> </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="menu">
            <nav>
              <ul>
                <li><a href="index.html">Home </a></li>
                <li><a href="about.html">ABOUT US</a></li>
                <li><a href="prices.html">Prices</a></li>
                <li><a href="services.html"> Services</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="login">
            <ul>
              <li><a href="login.html">Login </a></li>
              <li><a href="book.html">Book a services</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="slider-inner">
  <ul class="rslides">
    <li><img src="{% static 'images/login_silder.jpg' %}" alt="">
      <div class="text_w">
        <div class="container">
          <div class="text_bg">
            <h1>Book a services </h1>
           
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="container_section">
  <section class="book_page">
   <div class="container"> 
    <div class="row">
       
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">	
				 <div class="row">
        
                   <div class="progress">
                   
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="alert alert-success hide"></div>
  <div id="regiration_form" novalidate>
    <form >
  <fieldset>
   <h2>Book a service for your <b>Building/Office Sanitisation/Disinfectant</b></h2>
  <div class="search">
  <input type="search"   name="q" placeholder="Search..." autocomplete="off">
      <ul class="search-ac">
            <li><a href="infectioncontrolcleaning.html">Infection Control Cleaning</a></li>
 <li><a href="Builderscleaning.html">Builders Cleaning</a></li>
 <li><a href="constructioncleaning.html">Construction Cleaning</a></li>
 <li><a href="rubbishremoval.html">Rubbish Removal</a></li>
 <li><a href="carpetcleaning.html">Carpet Cleaning</a></li>
 <li><a href="upholsterycleaning.html">Upholstery Cleaning</a></li>
 <li><a href="mattresscleaning.html">Mattress Cleaning</a></li>
 <li><a href="commercialkitchencleaning.html">Commercial Kitchen Cleaning</a></li>
 <li><a href="commercialkitchencanopycleaning.html">Commercial Kitchen Canopy Cleaning</a></li>
 <li><a href="ovencleaning.html">Oven Cleaning</a></li>
 <li><a href="endleasecleaning.html">End of Lease Cleaning</a></li>
 <li><a href="guttercleaning.html">Gutter Cleaning</a></li>
 <li><a href="highpressurecleaning.html">High Pressure Cleaning</a></li>
 <li><a href="strippingsealingfloor.html">Stripping and Sealing Floor</a></li>
 <li><a href="tilegroutcleaning.html">Tile and Grout Cleaning</a></li>
 <li><a href="wallcleaning.html">Wall Cleaning</a></li>
 <li><a href="windowcleaning.html">Window Cleaning</a></li>
 <li><a href="highrisewindowscleaning.html">High Rise Windows Cleaning</a></li>
 <li><a href="highhustingcleaning.html">High Dusting & Cleaning</a></li>
 <li><a href="ventscleaning.html">Vents Cleaning</a></li>
 <li><a href="factorycleaning.html">Factory Cleaning</a></li>
 <li><a href="warehousecleaning.html">Warehouse Cleaning</a></li>
 <li><a href="poolcleaning.html">Pool Cleaning</a></li>
 <li><a href="gardenmowing.html">Garden Mowing</a></li>
 <li><a href="one-Off-cleaning.html">One-Off Cleaning</a></li>
 <li><a href="regularofficecleaning.html">Regular Office Cleaning</a></li>
        
      </ul>
  </div>
    <div class="search_b">
    <h6>Popular services</h6>
    
    <ul>
    <li><a href="booknew2.html">End of Tenancy Cleaning</a></li>
    <li><a href="booknew2.html">Domestic Cleaning</a></li>
    <li><a href="booknew2.html">Carpet/Rug Cleaning</a></li>
    <li><a href="booknew2.html">Oven/BBQ Cleaning</a></li>
    <li><a href="booknew2.html">Antiviral Sanitisation</a></li>
    <li><a href="booknew2.html">Garden Maintenance</a></li>
    </ul>
  </div>
    <input type="button" name="password" class="next btn btn-info" value="Next" />
  </fieldset>
  <fieldset>
 
    <div class="form-group">
    <h2>Where should we serve you?</h2>
 
  <div class="map">
  <input type="text"   name="q" placeholder="Enter your postcode..." autocomplete="off">
   
         <a href="booknew3.html">Continue</a>
  </div>
    <div class="search_b">
 <p> Find out if our service is available in your area.</p>
  </div>
    
    </div>
   
    <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
    <input type="button" name="next" class="next btn btn-info" value="Next" />
  </fieldset>
  <fieldset>
   <div class="row">

         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
     <div class="form-group">
  
   <h2>What is the type of your enquiry?	</h2>
 
  <div class="radio">


   <div class="flex">
  <input type="radio" name="radio" id="radio1" />
  <label for="radio1">Commercial Cleaning</label>
</div>
<div class="flex">
  <input type="radio" name="radio" id="radio2" />
  <label for="radio2">Domestic Cleaning</label>
</div>
<div class="flex">
  <input type="radio" name="radio" id="radio3" />
  <label for="radio3">Residential Cleaning</label>
</div>
        
  </div>
   
  </div>
  
  </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
 <div class="book-right-top">
  <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
   <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Postcode: 3000</span></div>
   <div class="services">
   <span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>The service includes:</h4>
   <p>Commercial Cleaning</p>
   
   </div>
   
   </div>
   
   <div class="expandables">
	
    <h4>The service includes:</h4>
  <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
</blockquote>     
   
    <h4>NOTE:</h4>
  <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
</blockquote>     
    
   
</div>
   </div>
   </div>

   <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
   <input type="button" name="next" class="next btn btn-info" value="Next" />
  
  </fieldset>
  
  
  
   <fieldset>
   <div class="row">

         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
     <div class="form-group">
  
   <h2>Building tall window cleaning</h2>
 
  <div class="radio">
<div class="housediv">
	<div class="house-w">
    <div class="flex">
  <input type="radio" name="radio" id="radio1" />
  <label for="radio1">Building</label><br>
</div></div>
       
  
  <blockquote>
  <div class="room-w">
<h5> How Many Sq.m. </h5>
    <div class="number">
	<span class="minus">-</span>
	<input type="text" value="0"/>
	<span class="plus">+</span>
</div> 
</div>



</blockquote>     
    
   
</div>



  </div>
   
  </div>
  
  </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
   <div class="book-right-top">
  <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
   <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Postcode: 3000</span></div>
   
   <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>The service includes:</h4>
   <p>Commercial Cleaning</p>
   <p> Yes </p>
   </div>
   </div>
   
   <div class="expandables">
	
    <h4>The service includes:</h4>
  <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
</blockquote>     
   
    <h4>NOTE:</h4>
  <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
</blockquote>     
    
   
</div>
   
   </div>
   </div>

   <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
   <input type="button" name="next" class="next btn btn-info" value="Next" />

  </fieldset>
  
  
  
  
  
  <fieldset>
   <div class="row">

         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
     <div class="form-group">
  
   <h2>Is there anything else you'd like us to know?</h2>
 
  <div class="radio">

 <textarea name="" cols="" rows=""></textarea>
  </div>
   
  </div>
  
  </div>
  
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
   <div class="book-right-top">
  <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
   <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Postcode: 3000</span></div>
   <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>The service includes:</h4>
   <p>Commercial Cleaning</p>
   <p> Yes </p>
   </div>
   </div>
   
   <div class="expandables">
	
    <h4>The service includes:</h4>
  <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
</blockquote>     
   
    <h4>NOTE:</h4>
  <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
</blockquote>     
    
   
</div>
   </div>
   
   
   </div>

   <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
   <input type="button" name="next" class="next btn btn-info" value="Next" />
  
  </fieldset>
  
  <fieldset>
   <div class="row">

         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
     <div class="form-group">
 
  <div class="calendar_w">
  <input type="text" id="rangeNoWeekendPicker">
  <div class="form-heading">
  <span> Saturday, jul 10 </span><span>Standard price</span><span>Fantastic Club price</span>
  </div>
  </div>
  
  
    <div class="form-headingsub">
    <ul>
    <li> <span>  07:00  </span><span><a class="un_act" href="#">Fully booked</a></span><span><a class="un_act" href="#">Fully booked</a></span></li>
    <li> <span>  08:00  </span><span><a class="un_act" href="#">Fully booked</a></span><span><a class="un_act" href="#">Fully booked</a></span></li>
    <li> <span>  09:00  </span><span><a class="un_act" href="#">Fully booked</a></span><span><a class="un_act" href="#">Fully booked</a></span></li>
    <li> <span>  10:00  </span><span><a class="act" href="#"> $255</a> </span><span><a class="act" href="#"> $215 <b>+ EARN $360</b> </a></span></li>
    <li> <span>  11:00  </span><span><a class="act" href="#"> n/a </a></span><span><a class="act" href="#"> $215 <b>+ EARN $360</b></a></span></li>
    <li> <span>  13:00  </span><span><a class="un_act" href="#">Fully booked</a></span><span><a class="un_act" href="#">Fully booked</a></span></li>
    <li> <span>  11:00  </span><span><a class="act" href="#"> n/a </a></span><span><a class="act" href="#"> $215 <b>+ EARN $360</b> </a></span></li>
    <li> <span>  15:00  </span><span><a class="un_act" href="#">Fully booked</a></span><span><a class="un_act" href="#">Fully booked</a></span></li>
    <li> <span>  16:00  </span><span><a class="un_act" href="#">Fully booked</a></span><span><a class="un_act" href="#">Fully booked</a></span></li>
    <li> <span>  17:00  </span><span><a class="un_act" href="#">Fully booked</a></span><span><a class="un_act" href="#">Fully booked</a></span></li>
    <li> <span>  18:00  </span><span><a class="un_act" href="#">Fully booked</a></span><span><a class="un_act" href="#">Fully booked</a></span></li>
    </ul>
 
  </div>
   
  </div>
  
  </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <div class="book-right-top">
  <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
   <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Postcode: 3000</span></div>
   <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>The service includes:</h4>
   <p>Commercial Cleaning</p>
   <p> Yes </p>
   </div>
    <div class="services"><span><i class="fa fa-calendar" aria-hidden="true"></i> </span>
   <h4> Appointment time :</h4>
   <p>13:00, Tuesday, Aug 03</p>
   
   </div>
    <div class="services-price">Service price <span>$255</span></div>
     <div class="total-price">Total <span>$255</span></div>
   
  
   
   
   </div>
   
   <div class="expandables">
	
    <h4>The service includes:</h4>
  <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
</blockquote>     
   
    <h4>NOTE:</h4>
  <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
</blockquote>     
    
   
</div>
   </div>
   </div>
 
   <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
   <input type="button" name="next" class="next btn btn-info" value="Next" />
  
  </fieldset>
  
  
  <fieldset>
   <div class="row">

         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
     <div class="form-group">
  <div class="st-1">
   <h2 style="text-align:left;"><i class="fa fa-user" aria-hidden="true"></i> Contact details</h2>
 
  <div class="contact_de">
<input type="text" name="Name" placeholder="Name" value="" size="40">
  </div>
   <div class="contact_de">
<input type="text" name="Email" placeholder="Email"  value="" size="40">
  </div>
   <div class="contact_de">
<input type="text" name="Phone" placeholder="Phone"  value="" size="40">
  </div>
    <div class="contact_de">
<input type="submit" value="Save" class="wpcf7-form-control wpcf7-submit">
  </div>  
  </div>
  <div class="st-1">
  <h2 style="text-align:left;"><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h2>
  <h5>Where should we serve you?	</h5>
  <div class="address-details-holder"><span class="userdata-detail"> 123, 3001 </span><a class="btn2">Edit</a></div>
  <div class="create-address-holder"><a class="btn2">+ Add a new address</a></div>
    <div class="edit">
     <div class="contact_de">
    <input type="text" name="Phone" placeholder="Flat / Unit / Building number"  value="" size="40">
    </div>
     <div class="contact_de">
    <input type="text" name="Phone" placeholder="Street name"  value="" size="40">
    </div>
     <div class="contact_de">
    <input type="text" name="Phone" placeholder="Postcode"  value="" size="40">
    </div>
     <div class="contact_de">
    <input type="submit" value="Confirm address" class="wpcf7-form-control wpcf7-submit">
    <button class="btn1">Cancel</button>
    </div>
    
    </div>


	<h5>Is there anything else you'd like us to know?</h5>
       <div class="contact_de"><textarea name="" cols="" rows=""></textarea></div>
  </div>
  
  
  </div>
  
  </div>
  
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
   <div class="book-right-top">
  <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
   <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Postcode: 3000</span></div>
   <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>The service includes:</h4>
   <p>Commercial Cleaning</p>
   <p> Yes </p>
   </div>
   </div>
   
   <div class="expandables">
	
    <h4>The service includes:</h4>
  <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
</blockquote>     
   
    <h4>NOTE:</h4>
  <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
</blockquote>     
    
   
</div>
   </div>
   
   
   </div>

   <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
   <input type="button" name="next" class="next btn btn-info" value="Next" />
  
  </fieldset>
  
  </form>     
     </div>                  
                       
				</div>
                
</div>
      
        </div>
        </div>
  </section>
  
  <section class="book-section"> 
  <div class="container"> 
  <div class="row"> 
  <div class="col-sm-12 col-xs-12"> 
  <h2>Ready to book with us?</h2> 
  <div class="section-cta-parent"> 
  <a href="#" rel="nofollow" class="btn filled book-btn" data-book-btn="true" title="Book now"> Book a services </a> 
  <a href="#" rel="nofollow" class="btn btn-white" title="Contact us"> Request a Quote </a> 
  </div> </div> </div> </div> </section>
  
  
  <section class="testimonial_section">
    <div class="testimonial_box">
      <div id="owl-demo" class="owl-carousel">
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt  Lorem ipsum dolor sit amet,  
            nonummy nibh euismod tincidunt </p>
          <div class="testimonial-author">DATA AGENT</div>
        </div>
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt  Lorem ipsum dolor sit amet,  
            nonummy nibh euismod tincidunt </p>
          <div class="testimonial-author">DATA AGENT</div>
        </div>
      </div>
    </div>
  </section>
  </div>
  </div>
</section>
<footer>
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="email"> <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span><a href="mailto:info@opinionuksurvey.co.uk"> info@opinionuksurvey.co.uk</a> </div>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Prices</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Domestic & Residential</a></li>
          <li><a href="#">Maintenance services</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer_botton">
    <div class="container">
      <div class="row">
        <div class="copyright">
          <p>&copy;2021 All Rights Reserved. Designed By : <a
                    href="https://www.businessdesignz.com">businessdesignz.com</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
  <style type="text/css">
  #regiration_form fieldset:not(:first-of-type) {
    display: none;
  }
  </style>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
		 $('nav').meanmenu();
		  $("#slider1").responsiveSlides({
      
        speed: 800
      });
	   var owl = $("#owl-demo");

      owl.owlCarousel();

      // Custom Navigation Events
      $(".next").click(function(){
        owl.trigger('owl.next');
      })
      $(".prev").click(function(){
        owl.trigger('owl.prev');
      })
      $(".play").click(function(){
        owl.trigger('owl.play',1000);
      })
      $(".stop").click(function(){
        owl.trigger('owl.stop');
      })

window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}

    $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });

        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
 


  </script>
<script>
    var a = 0;
    $(window).scroll(function () {

        var oTop = $('#counter').offset().top - window.innerHeight;
        if (a == 0 && $(window).scrollTop() > oTop) {
            $('.counter-value').each(function () {
                var $this = $(this),
                    countTo = $this.attr('data-count');
                $({
                    countNum: $this.text()
                }).animate({
                    countNum: countTo
                },

                    {

                        duration: 3000,
                        easing: 'swing',
                        step: function () {
                            $this.text(Math.floor(this.countNum));
                        },
                        complete: function () {
                            $this.text(this.countNum);
                            //alert('finished');
                        }

                    });
            });
            a = 1;
        }

    });
</script>
 <script>
  $(document).ready(function(){
  var current = 1,current_step,next_step,steps;
  steps = $("fieldset").length;
  $(".next").click(function(){
    current_step = $(this).parent();
    next_step = $(this).parent().next();
    next_step.show();
    current_step.hide();
    setProgressBar(++current);
  });
  $(".previous").click(function(){
    current_step = $(this).parent();
    next_step = $(this).parent().prev();
    next_step.show();
    current_step.hide();
    setProgressBar(--current);
  });
  setProgressBar(current);
  // Change progress bar action
  function setProgressBar(curStep){
    var percent = parseFloat(100 / steps) * curStep;
    percent = percent.toFixed();
    $(".progress-bar")
      .css("width",percent+"%")
      .html(percent+"%");   
  }

  
});

$( "#regiration_form" ).submit(function(event) {
    jQuery('.alert-success').removeClass('hide').html( "Handler for .submit() called and see console logs for your posted variable" );
    console.log($(this).serialize());
    event.preventDefault();
  });
  $(".expandables h4").click(function() {
 if ($(this).hasClass("expanded")) {
      $(this).removeClass("expanded");
      $(this).next().removeClass("expanded");
    } else {
      $(this).addClass("expanded");
      $(this).next().addClass("expanded");
    }
});
  $(".housediv .house-w").click(function() {
 if ($(this).hasClass("expanded")) {
      $(this).removeClass("expanded");
      $(this).next().removeClass("expanded");
    } else {
      $(this).addClass("expanded");
      $(this).next().addClass("expanded");
    }
	
});

  </script>
   <script src="{% static 'js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'js/jquery.datepick.js' %}"></script>
<script>
$(function() {
	$('#rangeNoWeekendPicker').datepick({rangeSelect: true, 
    onDate: $.datepick.noWeekends, showTrigger: '#calImg'});
});

function showDate(date) {
	alert('The date chosen is ' + date);
}
</script>
<script>
	$(document).ready(function() {
			$('.minus').click(function () {
				var $input = $(this).parent().find('input');
				var count = parseInt($input.val()) - 1;
				count = count < 1 ? 1 : count;
				$input.val(count);
				$input.change();
				return false;
			});
			$('.plus').click(function () {
				var $input = $(this).parent().find('input');
				$input.val(parseInt($input.val()) + 1);
				$input.change();
				return false;
			});
			
			 $(".btn1").click(function(){
    $(".edit").hide();
  });
  $(".btn2").click(function(){
    $(".edit").show();
  });
		});
	</script>
</body>
</html>