<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="slider-inner">
  <ul class="rslides">
    <li><img src="{% static 'images/login_silder.jpg' %}" alt="">
      <div class="text_w">
        <div class="container">
          <div class="text_bg">
            <h1>Book a services </h1>
           
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="container_section">
  <section class="book_page">
   <div class="container"> 
    <div class="row">
       
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">	
				 <div class="row">
        
                   <div class="progress">
                   
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <!-- <div class="alert alert-success hide"></div> -->
  <form  action="{% url 'infectioncontrolcleaning' %}" method="POST" enctype="multipart/form-data">
    <div id="regiration_form" >
      
   
    {% csrf_token %}
    <!-- id="regiration_form" -->
  

  <fieldset id="con_field">
 
    <div class="form-group">
    <h2>Where should we serve you?</h2>

  <div class="map">
    <p id="error" style="color:red;"></p>
  <input type="text" id="zipc"  name="q" required oninput="zipCode()" placeholder="Enter your postcode..." autocomplete="off">
   



          <!-- <button id="con" >continue</button> -->
         <a id="con" onclick="clicknext()"  >Continue</a>
         <!-- <input type="button" name="next" id="Button" disabled class="next btn btn-info" value="Next" /> -->
         <!-- <a  class="next" >Continue</a> -->
         <!-- <input type="button" name="next" id="Button"  class="next btn btn-info" value="Next" /> -->

  </div>
    <div class="search_b">
      
 <p> Find out if our service is available in your area.</p>

  </div>
    
    </div>
   
    <!-- <input type="button" name="previous" class="previous btn btn-default" value="Previous" /> -->
    <input type="button" name="next" id="Button" style="visibility:hidden;" class="next btn btn-info" value="Next" />
  </fieldset>
  <fieldset id="enqury">
   <div class="row">

         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
     <div class="form-group">
  
   <h2>What is the type of your enquiry?	</h2>
   
  <div class="radio" id="demo" onchange="demo();">

     <div class="flex">
    <input type="radio" name="radio" onclick="dis();" id="radio1" value="Commercial Cleaning"/>
    <label for="radio1">Commercial Cleaning</label>
    </div>
    <div class="flex">
    <input type="radio" name="radio" id="radio2" onclick="dis();" value="Domestic Cleaning" />
    <label for="radio2">Domestic Cleaning</label>
    </div>
    <div class="flex">
    <input type="radio" name="radio" id="radio3" onclick="dis();" value="Residential Cleaning" />
    <label for="radio3">Residential Cleaning</label>
    </div> 
        
  </div>


   
  </div>
  
  </div>
  
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
 <div  class="book-right-top">
  <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
   <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i><span  id="postcode"></span></div>
   <div class="services">
   <span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>The service includes:</h4>
   <p id="hello"></p>
   
   </div>
   
   </div>
   
   <div class="expandables">
	
    <h4>The service includes:</h4>
  <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
</blockquote>     
   
    <h4>NOTE:</h4>
  <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
</blockquote>     
    
   
</div>
   </div>
   </div>

   <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
   <input type="button" id="button2"  name="next"  disabled class="next btn btn-info" value="Next" onclick="democall();">
  
  </fieldset>
 
  
  <fieldset>
    <div class="row">

          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
      <div class="form-group">
    
    <h2>Do you want this Infection Control Cleaning services ?	</h2>

    
  
    <div class="radio" id="yes" onchange="yes();">

            <div class="flex">
      <input type="radio" name="radio" id="rad1" onClick="ena()" value="Yes" />
      <label for="rad1">Yes</label>
      </div>

      <div class="flex">
      <input type="radio" name="radio" id="rad2" onClick="ena()" value="No, thank you" />
      <label for="rad2">No, thank you</label>
      </div>
        
    </div>
   
  </div>

  
  </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
   <div class="book-right-top">
  <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
   <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i><span id="postcode1"></span></div>
   
   <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>The service includes:</h4>
   <p id="hello1"></p>
  </div>
   <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>Infection Control Cleaning Service:</h4>
   <p id="hello2"></p>
   </div>
   
   </div>
   
   <div class="expandables">
	
    <h4>The service includes:</h4>
  <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
</blockquote>     
   
    <h4>NOTE:</h4>
  <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
</blockquote>     
    
   
</div>
   
   </div>
   </div>

   <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
   <input type="button" name="next" id="button3" disabled class="next btn btn-info" value="Next" onclick="demo2call()" />

  </fieldset>
  
  <fieldset>
   <div class="row">

         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
     <div class="form-group">
  
   <h2>Is there anything else you'd like us to know?</h2>

   <script>
    //  function msg(){
    //    var d=document.getElementById("msg");
    //    console.log(d)

    //  }
   </script>
 
  <div class="radio">

 <textarea id="msg" name="" oninput="note()" cols="" rows=""></textarea>
  </div>
   
  </div>
  
  </div>
  
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
   <div class="book-right-top">
  <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
   <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i><span id="postcode2"></span></div>
   <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>

    <!-- <input type="text" id="textvalue"/> -->
    
   <h4>The service includes:</h4>
   <p id="hello3"></p>
  </div>
  <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
  <h4>Infection Control Cleaning Service:</h4>
   <p id="hello4"></p>
   </div>
   </div>
   
   <div class="expandables">
	
    <h4>The service includes:</h4>
  <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
</blockquote>     
   
    <h4>NOTE:</h4>
  <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
</blockquote>     
    
   
</div>
   </div>
   
   
   </div>

   <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
   {% if user.id is None %}

  <input type="button" onClick="window.location.href='{% url 'login' %}';" name="next" class="next btn btn-info" value="Next"/>

   {%else %}
   <input type="button" name="next" class="next btn btn-info" onClick="lastcall()" value="Next" />
   {% endif %}
  
  </fieldset>
  
  <fieldset>
   <div class="row">

         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
     <div class="form-group">
 
  <div class="calendar_w">
<input type="date" onclick="showdate();" id="rangeNoWeekendPicker">
  <div class="form-heading">
  <span id="date"></span><span>Standard price</span><span></span>
  </div>
  </div>
  <script>
   document.getElementById("rangeNoWeekendPicker").addEventListener("change", function() {
    var input = this.value;
    var dateEntered = new Date(input);
    // console.log(input); //e.g. 2015-11-13

    // console.log(dateEntered.getDate()+"/"+(dateEntered.getMonth()+1)+"/"+dateEntered.getFullYear()); 
    const days = [ "Sun","Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
    const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    document.getElementById("date").innerHTML=dateEntered.getDate()+"-"+days[dateEntered.getDay()]+"-"+months[dateEntered.getMonth()];
    // document.getElementById("date").innerHTML=dateEntered.getDate()+"/"+(dateEntered.getMonth()+1)+"/"+dateEntered.getFullYear();
    //e.g. Fri Nov 13 2015 00:00:00 GMT+0000 (GMT Standard Time)
});
  </script>
  
  
    <div class="form-headingsub">
    <ul>
    <li  onclick="booktime(this)" > <span id="time">  07:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <li  onclick="booktime(this)" > <span id="time">  08:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <!-- <li ></li> <span id="time">  09:00  </span><span><a onclick="booktime()"class="un_act" id="slot">Fully booked</a></span><span></span></li> -->
    <li  onclick="booktime(this)"> <span id="time">  09:00  </span><span><a class="act" id="slot">$255 </a> </span><span></span></li>
    <li onclick="booktime(this)"> <span  id="time">  10:00  </span><span><a class="act" id="slot"> $255</a> </span><span></span></li>
    <li onclick="booktime(this)"> <span id="time">  11:00  </span><span><a class="act" id="slot"> n/a </a></span><span></span></li>
    <li onclick="booktime(this)"> <span id="time" >  13:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <li onclick="booktime(this)"> <span id="time" >  14:00  </span><span><a class="act" id="slot"> n/a </a></span><span></span></li>
    <li onclick="booktime(this)"> <span  id="time">  15:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <li onclick="booktime(this)"> <span id="time">  16:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <li onclick="booktime(this)"> <span id="time">  17:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    <li onclick="booktime(this)" > <span id="time" >  18:00  </span><span><a class="un_act" id="slot">Fully booked</a></span><span></span></li>
    </ul>
 
  </div>
   
  </div>
  
  </div>

   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <div class="book-right-top">
  <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
   <div class="post-code" id ="finalzip"><span ><i class="fa fa-map-marker" aria-hidden="true"></i></span></div>
   <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>The service includes:</h4>
   <p id="hel1"></p>
   </div>
   <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
   <h4>Infection Control Cleaning Service:</h4>
   <p id ="hel2"> Y</p>
   </div>
    <div class="services"><span><i class="fa fa-calendar" aria-hidden="true"></i> </span>
   <h4> Appointment time :</h4>
   <p id="time_show"></p>
   
   </div>
    <div class="services-price" >Service price <span id="price"></span></div>
     <div class="total-price">Total <span id="price2"></span></div>
   
  
   
   
   </div>
   
   <div class="expandables">
	
    <h4>The service includes:</h4>
  <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
</blockquote>     
   
    <h4>NOTE:</h4>
  <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
</blockquote>     
    
   
</div>
   </div>
   </div>
 
   <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
   
   <input type="button" name="next" class="next btn btn-info" value="Next" onClick="lastcall2()" />

  
  </fieldset>

  <fieldset id="enqury">
    <div class="row">

          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
      <div class="form-group">
    
    <h2>What is the type of your enquiry?	</h2>
    
    <div class="radio">

      <div class="submit">
        <p>
          <label> Your name</label>
          <input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
           </p>
        <p>
          <label> Your address</label>
          <input type="text" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
        </p><br><br>
        
      </div> 
          
    </div>
      </div>
      
      </div>
      
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
    <div  class="book-right-top">
      <div class="book-banner"><img src="{% static 'images/banner-card.png' %}" alt=""></div>
      <div class="post-code"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
      <input  type="text" id="postcode_last" name="post_code" style="border: 0px; background: unset;" value="" size="20" disabled class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
        
      </span></div>
      <div class="services">
      <span><i class="fa fa-book" aria-hidden="true"></i> </span>

      <h4>The service includes:</h4>
      <!-- <p id="hel3"> -->
      <input  type="text" id="hel3" name="service" style="border: 0px; background: unset;" value="" size="20" disabled class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
      <!-- </p> -->
      </div>
      <div class="services"><span><i class="fa fa-book" aria-hidden="true"></i> </span>
      <h4>Infection Control Cleaning Service:</h4>
      <!-- <p id ="hel4"></p> -->
      <input  type="text" id="hel4" name="cleaning" style="border: 0px; background: unset;" value="" size="20" disabled class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
      </div>
      <div class="services"><span><i class="fa fa-calendar" aria-hidden="true"></i></span>
      <h4> Appointment time :</h4><br>
      <!-- <p id="time_show1"></p> -->
      <input  type="text" id="time_show1" name="appointment" style="border: 0px; background: unset;" value="" size="20" disabled class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
      
      </div>
        <div class="services-price" >Service price <span>
      <input  type="text" id="price_last" name="prices" style="border: 0px; background: unset;" value="" size="20" disabled class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
          
        </span>

        </div>
        
        <div class="total-price">Total <span>
      <input  type="text" id="price_last2" name="total_prices" style="border: 0px; background: unset;" value="" size="20" disabled class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
      <!-- <div class="total-price">Note <span>
        <input  type="text" id="note" name="total_prices" style="border: 0px; background: unset;" value="" size="20" disabled class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"> -->
          
        </span></div>
        <!-- <div class="total-price">Note <br>
          <span>
            <input  type="text" id="note" name="total_prices" style="border: 0px; background: unset;" value="" size="20" disabled class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
              
            </span></div> -->
            <div class="services">
              <!-- <span><i class="fa fa-book" aria-hidden="true"></i> </span> -->
        
              <h4>Note:</h4>
              
              <br>
              <!-- <p id="hel3"> -->
              <input  type="text" id="note" name="service" style="border: 0px; background: unset;" value="" size="20" disabled class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
              <!-- </p> -->
              </div>
        



  
      
      
      
      
      </div>
      
      <div class="expandables">
      
        <h4>The service includes:</h4>
      <blockquote><p>As we are currently undergoing extensive research, when new products become available we will be introducing them on our website and also to the general public.</p>
    </blockquote>     
      
        <h4>NOTE:</h4>
      <blockquote><p>All our packaging materials are recyclable. Recycling helps to reduce waste and greenhouse gases. You too can make a difference by recycling your used packages.</p>
    </blockquote>     
        
      
    </div>
      </div>
      </div>

      <!-- <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
      <input type="button" name="next" class="next btn btn-info" onClick="lastcall2()" value="Next" /> -->
      <button type="submit" value="Submit" class="from_submit">Submit</button>

    </fieldset>

  </div>
  </form>     
                       
                       
				</div>
                
</div>
      
        </div>
        </div>
  </section>
  
  <section class="book-section"> 
  <div class="container"> 
  <div class="row"> 
  <div class="col-sm-12 col-xs-12"> 
  <h2>Ready to book with us?</h2> 
  <div class="section-cta-parent"> 
  <a href="#" rel="nofollow" class="btn filled book-btn" data-book-btn="true" title="Book now"> Book a services </a> 
  <a href="#" rel="nofollow" class="btn btn-white" title="Contact us"> Request a Quote </a> 
  </div> </div> </div> </div> </section>
  
  
  <section class="testimonial_section">
    <div class="testimonial_box">
      <div id="owl-demo" class="owl-carousel">
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt  Lorem ipsum dolor sit amet,  
            nonummy nibh euismod tincidunt </p>
          <div class="testimonial-author">DATA AGENT</div>
        </div>
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt  Lorem ipsum dolor sit amet,  
            nonummy nibh euismod tincidunt </p>
          <div class="testimonial-author">DATA AGENT</div>
        </div>
      </div>
    </div>
  </section>
  </div>
  </div>
</section>

  <style type="text/css">
  #regiration_form fieldset:not(:first-of-type) {
    display: none;
  }
  
  </style>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>

<script>
$(document).keypress(
  function(event){
    if (event.which == '13') {
      event.preventDefault();
    }
});
</script>

<script>
  function note(){
    var note=document.getElementById("msg").value;
    // console.log(note)
    if (note.length > 1){
      var note_msg=note;
      console.log(note_msg)
  }

  }
  
</script>


<script>
  var con_field=document.getElementById("con_field")
  
 con_field.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      clicknext();
        // alert('Enter is pressed!');
    }
});
function clicknext() {
  
    var finalzip = document.getElementById("zipc").value;
    
  
    // document.getElementById("Button").click();
    // console.log(finalzip)
    // document.getElementById("postcode").innerHTML="POSTCODE:" +" "+finalzip;
    var zip = document.getElementById("zipc").value;
    var button = document.getElementById("Button");
    var con=document.getElementById("con");
    button.disabled = true;
    con.disabled=true;
      //  console.log(zip)
  
       
    if (5999< zip && zip < 6998) {
        //  console.log("inside if")
        //  <input type="button" name="next" class="next btn btn-info" value="Next" />
      button.disabled = false;
      con.disabled=false;
      document.getElementById("Button").click();
      document.getElementById("postcode").innerHTML="POSTCODE:" +" "+finalzip;
        
        // console.log(zip)
        // document.getElementById("Button").click();
  
       }
       else{
        document.getElementById("error").innerHTML="Please input a valid zipcode";
         
        //  console.log("worng")
       }
  
     }

</script>
<script>
function booktime(time){
  console.log("here")
  // time=;
  // console.log(time.textContent)
  // var time= document.getElementById("time").innerHTML;
  // var slot = document.getElementById("slot");
  document.getElementById("time_show").innerHTML=time.textContent.slice(0,10)+"  "+document.getElementById("date").innerHTML;
  // document.getElementById("date").innerHTML

  // document.getElementById()
  var clean= document.getElementById("hel1").textContent;
  var san=document.getElementById("hel2").textContent;
  var price=5;
  if (clean === "Commercial Cleaning"){
    price=price*5;
    document.getElementById("price").innerHTML=price+"$";
    document.getElementById("price2").innerHTML=price+"$";


  }
  if(clean === "Domestic Cleaning"){
    price=price*4;
    document.getElementById("price").innerHTML=price+"$";
    document.getElementById("price2").innerHTML=price+"$";
  }
  else{
    price=price*2;
    console.log(price)
    document.getElementById("price").innerHTML=price+"$";
    document.getElementById("price2").innerHTML=price+"$";

  }
  if (san==="Yes"){
    price=price+50;
    document.getElementById("price").innerHTML=price+"$";
    document.getElementById("price2").innerHTML=price+"$";
  }
  else{
    document.getElementById("price").innerHTML=price+"$";
    document.getElementById("price2").innerHTML=price+"$";
  }
  // console.log(clean)
  // console.log(san)








}


</script>

<script>



  function demo2call()
  {
   var d=document.getElementById("hello");
   var d1=document.getElementById("hello2");
   var finalzip = document.getElementById("zipc").value;
   console.log(finalzip)

   document.getElementById("postcode2").innerHTML="POSTCODE:" +" "+finalzip;
   console.log(d)
   console.log(d1)
   document.getElementById("hello3").innerHTML=d.textContent;
   document.getElementById("hello4").innerHTML=d1.textContent;

   }
</script>
 

<script>
  function democall()
  {
   var d=document.getElementById("hello");
   console.log(d)
   document.getElementById("hello1").innerHTML=d.textContent;
   var finalzip = document.getElementById("zipc").value;
   console.log(finalzip)

   document.getElementById("postcode1").innerHTML="POSTCODE:" +" "+finalzip;

   }
</script>
 
<script>
  function yes()
  {
  var d=document.getElementById("yes");
  // console.log(d)
  if (document.getElementById('rad1').checked) {
    rate_value2 = document.getElementById('rad1').value;
    console.log("option1")
    document.getElementById("hello2").innerHTML=rate_value2;
  }
  if (document.getElementById('rad2').checked) {
    rate_value2 = document.getElementById('rad2').value;
    console.log("option2")
    document.getElementById("hello2").innerHTML=rate_value2;
  }

  }
  function ena(){
    var c = document.getElementById('button3');
    c.disabled=false;

  }
</script>




<script>
  function demo()
  {
   
   
   var d=document.getElementById("demo");
   // var c = document.getElementById('button2');
   // console.log(c)
   // button.disabled = true;
   if (document.getElementById('radio1').checked) {
     rate_value = document.getElementById('radio1').value;
     // console.log(rate_value)
     document.getElementById('button2').disabled = true;
     document.getElementById("hello").innerHTML=rate_value;
     

   }
   if (document.getElementById('radio2').checked) {
     rate_value = document.getElementById('radio2').value;
     // console.log(rate_value)
     document.getElementById("hello").innerHTML=rate_value;
     
   }
   if (document.getElementById('radio3').checked) {
     rate_value = document.getElementById('radio3').value;
     // console.log(rate_value)
     document.getElementById("hello").innerHTML=rate_value;
     
   }
   }


   function dis(){
     var c = document.getElementById('button2');
     c.disabled=false;
     

   }
</script>


<script>
function clicknext() {
  
    var finalzip = document.getElementById("zipc").value;
    
  
    // document.getElementById("Button").click();
    // console.log(finalzip)
    // document.getElementById("postcode").innerHTML="POSTCODE:" +" "+finalzip;
    var zip = document.getElementById("zipc").value;
    var button = document.getElementById("Button");
    var con=document.getElementById("con");
    button.disabled = true;
    con.disabled=true;
      //  console.log(zip)
  
       
    if (5999< zip && zip < 6998) {
        //  console.log("inside if")
        //  <input type="button" name="next" class="next btn btn-info" value="Next" />
      button.disabled = false;
      con.disabled=false;
      document.getElementById("Button").click();
      document.getElementById("postcode").innerHTML="POSTCODE:" +" "+finalzip;
        
        // console.log(zip)
        // document.getElementById("Button").click();
  
       }
       else{
        document.getElementById("error").innerHTML="Please input a valid zipcode";
         
        //  console.log("worng")
       }
  
     }
  // </script>
   <script>
    var con = document.getElementById("con");
    con.addEventListener("keyup", function (e) {
      // alert(e);
      if (e.keyCode === 13) {
        alert(e);
        // validate(e);
      }
    });
  </script>


<script>
  function zipCode(){
    var zip = document.getElementById("zipc").value;
    var button = document.getElementById("Button");
    var con=document.getElementById("con");
    button.disabled = true;
    con.disabled=true;
   //  console.log(zip)

    
    if (5999< zip && zip < 6998) {
     //  console.log("inside if")
     //  <input type="button" name="next" class="next btn btn-info" value="Next" />
     button.disabled = false;
     con.disabled=false;
     
     // console.log(zip)
     // document.getElementById("Button").click();

    }
    else{
      // var err=document.getElementById("error");
      
     //  console.log("worng")
    }

  }
  
</script>

<script>
  function lastcall(){
  var d=document.getElementById("hello");
  var d1=document.getElementById("hello2");
  var finalzip = document.getElementById("zipc").value;
  console.log(finalzip)

  document.getElementById("finalzip").innerHTML="POSTCODE:" +" "+finalzip;
  console.log(d)
  console.log(d1)
  document.getElementById("hel1").innerHTML=d.textContent;
  document.getElementById("hel2").innerHTML=d1.textContent;


  }
</script>

<script>
  function lastcall2(){
  var d=document.getElementById("hello");
  var d1=document.getElementById("hello2");
  var finalzip = document.getElementById("zipc").value;
  console.log(finalzip)

  document.getElementById("postcode_last").value="POSTCODE:" +" "+finalzip;
  console.log(d)
  console.log(d1)
  document.getElementById("hel3").value=d.textContent;
  document.getElementById("time_show1").value=document.getElementById("time_show").innerHTML;
  document.getElementById("price_last").value=document.getElementById("price").innerHTML;
  document.getElementById("price_last2").value=document.getElementById("price2").innerHTML;
  document.getElementById("hel4").value=d1.textContent;
  document.getElementById("note").value=document.getElementById("msg").value;


  }
</script>

<script>
   function demo()
   {
    var d=document.getElementById("demo");
    // console.log(d)
    // var displaytext=d.radio[d.selectedIndex].text;
    // console.log(displaytext)
    // document.getElementById("textvalue").value=displaytext;
    if (document.getElementById('radio1').checked) {
      rate_value = document.getElementById('radio1').value;
      // console.log(rate_value)
      document.getElementById("hello").innerHTML=rate_value;
    }
    if (document.getElementById('radio2').checked) {
      rate_value = document.getElementById('radio2').value;
      // console.log(rate_value)
      document.getElementById("hello").innerHTML=rate_value;
    }
    if (document.getElementById('radio3').checked) {
      rate_value = document.getElementById('radio3').value;
      // console.log(rate_value)
      document.getElementById("hello").innerHTML=rate_value;
    }
    }
</script>

<script type="text/javascript">
  $(document).ready(function() {
		 $('nav').meanmenu();
		  $("#slider1").responsiveSlides({
      
        speed: 800
      });
	   var owl = $("#owl-demo");

      owl.owlCarousel();

      // Custom Navigation Events
      $(".next").click(function(){
        owl.trigger('owl.next');
      })
      $(".prev").click(function(){
        owl.trigger('owl.prev');
      })
      $(".play").click(function(){
        owl.trigger('owl.play',1000);
      })
      $(".stop").click(function(){
        owl.trigger('owl.stop');
      })

window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}

    $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });

        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
 


  </script>
<script>
    var a = 0;
    $(window).scroll(function () {

        var oTop = $('#counter').offset().top - window.innerHeight;
        if (a == 0 && $(window).scrollTop() > oTop) {
            $('.counter-value').each(function () {
                var $this = $(this),
                    countTo = $this.attr('data-count');
                $({
                    countNum: $this.text()
                }).animate({
                    countNum: countTo
                },

                    {

                        duration: 3000,
                        easing: 'swing',
                        step: function () {
                            $this.text(Math.floor(this.countNum));
                        },
                        complete: function () {
                            $this.text(this.countNum);
                            //alert('finished');
                        }

                    });
            });
            a = 1;
        }

    });
</script>
 <script>
  $(document).ready(function(){
  var current = 1,current_step,next_step,steps;
  steps = $("fieldset").length;
  $(".next").click(function(){
    current_step = $(this).parent();
    next_step = $(this).parent().next();
    next_step.show();
    current_step.hide();
    setProgressBar(++current);
  });
  $(".previous").click(function(){
    current_step = $(this).parent();
    next_step = $(this).parent().prev();
    next_step.show();
    current_step.hide();
    setProgressBar(--current);
  });
  setProgressBar(current);
  // Change progress bar action
  function setProgressBar(curStep){
    var percent = parseFloat(100 / steps) * curStep;
    percent = percent.toFixed();
    $(".progress-bar")
      .css("width",percent+"%")
      .html(percent+"%");   
  }
  
  
});

$( "#regiration_form1" ).submit(function(event) {
    jQuery('.alert-success').removeClass('hide').html( "Handler for .submit() called and see console logs for your posted variable" );
    console.log($(this).serialize());
    event.preventDefault();
  });
  $(".expandables h4").click(function() {
 if ($(this).hasClass("expanded")) {
      $(this).removeClass("expanded");
      $(this).next().removeClass("expanded");
    } else {
      $(this).addClass("expanded");
      $(this).next().addClass("expanded");
    }
});

  </script>
   <script src="{% static 'js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'js/jquery.datepick.js' %}"></script>
<script>
  // $( "#datepicker" ).datepicker({ minDate: 0});
  $(function() {
    $('#rangeNoWeekendPicker').datepick({
      startDate: new Date(),
      rangeSelect: true,   
      onDate: $.datepick.noWeekends,
       showTrigger: '#calImg'});
  });

function showDate(date) {
	alert('The date chosen is ' + date);
}
</script>
</body>
</html>


{% endblock %}